version: "3.8"
services:
  postgres:
    image: postgres:16-alpine
    container_name: enzara-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: enzara
      POSTGRES_PASSWORD: enzara_dev
      POSTGRES_DB: enzara_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: enzara-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redisdata:/data
    restart: unless-stopped

volumes:
  pgdata:
  redisdata:
